<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
<bean id="bicycle" class="com.nt.beans.Bicycle">
<property name="gear" value="3"></property>
<property name="speed" value="40"></property>
</bean>
<bean id="hon" class="com.nt.beans.HondaBike" parent="bicycle">
<property name="seatHeight" value="2"></property>
</bean>
<bean id="mon" class="com.nt.beans.MountBike" parent="bicycle">
<property name="seatHeight" value="30"></property>
</bean>
</beans>
